<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SendIT | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/scarfold.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/styles.css"
    />
    <script src="../js/authorization.js"></script>
  </head>
  <body>
    <div class="main">
        <header class="header align-bottom">
            <div class="header-content">
                <a href="" class="brand-name">SendIT<sup class="size-12">&trade;</sup></a>
                <div class="menu-div">
                <ul class="navbar">
                    <li>
                    <a onclick="signout()" href="/" class="btn btn-link btn-sm red-color" >Sign out</a>
                    </li>
                </ul>
                </div>
            </div>
        </header>
        <div class="row no-gutters">
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12">
                <div class="wrapper section"> 
                    <div class="content-header">Dashboard</div>
                    <div class="panel">
                        <div class="welcome-user">Welcome, 
                            <span class="size-16 normal" id="name"></span>
                        </div>
                    </div>
                    <div class="section">
                        <div class="dashboard" id="dashboard">
                            <a href="/create" class="btn btn-primary">Create Order</a>
                            <a href="/profile" class="btn btn-primary">My Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-lg">
        <div class="footer-content align-center">
            &copy; Andela bootcamp,
            <script> document.write(new Date().getFullYear());</script>. All right reserved
        </div>
    </footer>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
      authUser.then(user => {
        if (user.isAdmin) {
          const orderBtn = document.createElement("a");
          orderBtn.href = "/orders";
          orderBtn.innerText = "Delivery orders";
          addClass(orderBtn, ["btn", "btn-primary"]);
          const dashboard = document.getElementById("dashboard");
          dashboard.insertBefore(orderBtn, dashboard.lastElementChild);
        }
      });
    </script>
  </body>
</html>
