<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SendIT | Order details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../css/scarfold.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
	<script src="../js/authorization.js"></script>
</head>

<body onload="getDetails()">
	<header class="header align-bottom">
		<div class="header-content">
			<a href="" class="brand-name">SendIT<sup class="size-12">&trade;</sup></a>
			<div class="menu-div">
				<ul class="navbar">
					<li><a href="/dashboard" class="btn btn-link btn-sm red-color">Dashboard</a></li>
					<li><a href="/" class="btn btn-link btn-sm red-color">Sign out</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="row no-gutters">
		<div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 offset-sm-0">

			<div class="wrapper mx-0 mb-0">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 bg-white">
						<div class="align-center panel">
							<div class="image-div mb-lg avatar-wrapper">
								<img src="../images/avatar.png" alt="" class="side-image avatar">
							</div>
							<div class="size-12 more-details">
								<div id="name" class="bold my-lg" style="font-size: 20px;"></div>
								<div id="role"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div style="padding-bottom: 30px">
							<div id="order-details">
								<div class="content-header">
									Order details
								</div>
								<div class="panel">
									<div class="flex justify-content-between mb-md">
										<div> <a href="/orders" class="btn btn-link size-11 btn-sm skyblue-color">Go back</a></div>
										<div class="dropdown" id="dropdown"></div>
									</div>

									<div class="card details">

										<div class="more-details">
											<div class="nexted">
												<div class="card-header">
													<div class="card-title card-title-line">
														<label class="bold">Tracking #: <span id="data-trackingNo"></span></label>
													</div>
												</div>
												<div class="card-wrapper">

													<div class="card-row">
														<div class="data-header">Weight</div>
														<div class="data weight" id="data-weight"></div>
													</div>
													<div class="card-row">
														<div class="data-header">Parcel description</div>
														<div class="data" id="data-description"></div>
													</div>
													<div class="card-row">
														<div class="data-header">Date sent</div>
														<div class="data" id="data-sentOn"></div>
													</div>
													<div class="card-row">
														<div class="data-header">Date delivered</div>
														<div class="data" id="data-deliveredOn"></div>
													</div>
													<div class="card-row">
														<div class="data-header">Delivery method</div>
														<div class="data" id="data-deliveryMethod"></div>
													</div>

													<div class="card-row">
														<div class="data-header">Status</div>
														<div class="data red-color" id="data-deliveryStatus"></div>
													</div>

													<div class="card-row">
														<div class="data-header">Present location</div>
														<div class="data" id="data-presentLocation"></div>
													</div>
												</div>
											</div>

											<div class="nexted">
												<div class="card-header">
													<div class="card-title">
														<label class="size-12 bold" for="pickup-details">Pick up details</label>
													</div>
												</div>
												<div class="card-wrapper">
													<div class="card-row">
														<div class="data-header">Address</div>
														<div class="data" id="data-from-address"></div>
													</div>
													<div class="card-row">
														<div class="data-header">L.G.A.</div>
														<div class="data" id="data-from-lga"></div>
													</div>

													<div class="card-row">
														<div class="data-header">State</div>
														<div class="data" id="data-from-state"></div>
													</div>

													<div class="card-row">
														<div class="data-header">Sender name</div>
														<div class="data" id="data-sender-name"></div>
													</div>
													<div class="card-row">
														<div class="data-header">Sender's phone No.</div>
														<div class="data" id="data-sender-phone">--</div>
													</div>
												</div>
											</div>

											<div class="nexted">

												<div class="card-header">
													<div class="card-title">
														<label class="size-12 bold">Destination details</label>
													</div>
												</div>

												<div class="card-wrapper">

													<div class="card-row">
														<div class="data-header">State</div>
														<div class="data" id="data-to-state"></div>
													</div>

													<div class="card-row">
														<div class="data-header">L.G.A.</div>
														<div class="data" id="data-to-lga"></div>
													</div>

													<div class="card-row">
														<div class="data-header">Address</div>
														<div class="data" id="data-to-address"></div>
													</div>
													<div class="card-row">
														<div class="data-header">Receiver name</div>
														<div class="data" id="data-receiver-name"></div>
													</div>

													<div class="card-row">
														<div class="data-header">Receiver phone number</div>
														<div class="data" id="data-receiver-phone"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="message"></div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-12 bg-white">
						<div class="panel">
							<div class="notification-header">Notifications</div>

							<div class="alert alert-info">No active orders at the moment</div>
						</div>
					</div>
				</div>
			</div>

			<footer class="footer mt-lg">
				<div class="footer-content align-center">
					&copy; Andela bootcamp,
					<script>document.write(new Date().getFullYear())</script>. All right reserved
				</div>
			</footer>
		</div>
	</div>

	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/script.js"></script>
	<script src="../js/modals.js"></script>
	<script>
		const getParcelId = () => location.pathname.split('/')[2];
		let parcel;
		const getDetails = () => {
			authUser.then((user) => {
				fetch(request({
					path: user.isAdmin 
						? `/parcels/${getParcelId()}` 
						: `/users/${user.userId}/parcels/${getParcelId()}`,
					method: 'GET'
				})).then(res => res.json())
					.then((res) => {
						if (res.status === 'Success') {
							parcel = res.data.parcel;
							const { from, to, presentLocation, ...data } = parcel;
							const { sender, ...pickUp } = from;
							const { receiver, ...destination } = to;
							displayData(data);
							displayData(pickUp, 'from');
							if (user.isAdmin) displayData(sender, 'sender');
							displayData(to, 'to');
							displayData(receiver, 'receiver');
							displayLocation(presentLocation);
							appendMenu(parcel.userId, parcel.deliveryStatus);
						} else {
							document.getElementById('order-details').classList.add('hide')
							message(res.message);
						}
					}).catch(error => message(error.message, error.status));
				});
		}

		const displayData = (data, str) => {
			let elem;
			Object.keys(data).forEach((key) => {
				elem = document.getElementById(str ? `data-${str}-${key}` : `data-${key}`);
				if (elem) {
					let text
					switch (key) {
						case 'description': 
							text = 'No recored';
							break;
						default: text = 'Not updated'
					}
					elem.innerHTML = data[key] ? data[key] : text;
					elem.parentNode.style.display = 'inline-flex';
				}
			});
		}

		const displayLocation = (pLocation) => {
			const elem = document.getElementById('data-presentLocation')
			elem.innerHTML =  pLocation && !!(pLocation.state && pLocation.lga)
				? `${pLocation.lga}, ${pLocation.state}`
				: `Not updated`;
			elem.parentNode.style.display = 'inline-flex';
		}

		const selectStatus = () => {
			const elem = document.getElementById('current-delivery-status');
			elem.value = 'Transiting';
			elem.style.color = 'initial';
		}

		const appendMenu = async (userId, deliveryStatus) => {
			if (deliveryStatus === 'Cancelled') return;
			const open = `<button onclick="dropdown('order-menu')" class="btn btn-link btn-sm dropbtn">
                      <i class="fa fa-bars bold"></i></button>
                    <div id="order-menu" class="dropdown-content size-10 dropdown-content-mini">`;;
			const editBtns = `<button class="menu-btn" onclick="editDestinationModal(event, parcel)">Edit destination</button>
							  <button class="menu-btn" onclick="editParcelModal(event, parcel)">Edit parcel details</button>
							  <button class="menu-btn" onclick="editPickupModal(event, parcel)">Edit pickup details</button>
							  <button class="menu-btn" onclick="editReceiverModal(event, parcel)">Edit receiver details</button>`;
			const menu = await authUser.then((user) => {
				let str = "";
				if (deliveryStatus !== 'Cancelled' && deliveryStatus !== 'Delivered') {
					if (user.isAdmin) {
						const cancelBtn = `<button class="menu-btn" onclick="showConfirmModal('cancel', cancelOrder)">Cancel order</button>`;
						str = `${user.userId === userId ? cancelBtn.concat(editBtns) : ""}
                      			<button class="menu-btn" onclick="updateLocationModal(event)">Update location</button>
                     			<button class="menu-btn" onclick="updateStatusModal(event)">Update status</button>`;
					} else {
						str = `<button class="menu-btn" onclick="showConfirmModal('cancel', cancelOrder)">Cancel order</button>`
								.concat(editBtns);
					}

				}
				if (deliveryStatus === 'Placed' && user.userId === userId) {
					document.querySelectorAll('.edit-btn')
						.forEach(elem => elem.style.visibility = 'visible')
				}
				return user.userId === userId ? str.concat('</div>') : str;
			});
			document.getElementById('dropdown').innerHTML = menu ? open.concat(`${menu}</div>`) : '';
		}

		const showConfirmModal = (type, callback) => {
			const content = `<div class="warning">
									<b>Are you sure you want to ${type} this order?</b><br>
									Click proceed to confirm this operation
								</div>`;
			showModal({
				content,
				title: type,
				type: 'confirm',
				callback: () => {
					document.getElementById('confirm-btn').addEventListener('click', callback);
				}
			});
		}

		const cancelOrder = async () => {
			updateRequest({ path: `/parcels/${getParcelId()}/cancel` })
		}

		const deleteOrder = () => {

		}

		const updateDeliveryStatus = (e) => {
			e.preventDefault();
			const fields = ['new-delivery-status'];
			if (!hasEmpty(fields)) {
				updateRequest({ path: `/parcels/${getParcelId()}/status`, data: getFormData(fields) });
			}
		}

		const updatePresentLocation = async (e) => {
			e.preventDefault();
			const fields = ['state', `lga`];
			if (!hasEmpty(fields)) {
				updateRequest({
					path: `/parcels/${getParcelId()}/presentLocation`,
					data: await getFormData(fields)
				});
			}
		}

		const editDestination = (e) => {
			e.preventDefault();
			const fields = ['address', 'state', 'lga'];
			if (!hasEmpty(fields)) {
				updateRequest({
					path: `/parcels/${getParcelId()}/destination`,
					data: getFormData(fields)
				})
			}
		}

		const editPickup = (e) => {
			e.preventDefault();
			const fields = ['pick-up-address', 'pick-up-state', 'pick-up-lga'];
			if (!hasEmpty(fields)) {
				updateRequest({
					path: `/parcels/${getParcelId()}/editPickup`,
					data: getFormData(fields)
				})
			}
		}

		const editParcel = async (e) => {
			e.preventDefault();
			const fields = ['weight', 'description'];
			if (!hasEmpty(fields) && isValidWeight(document.getElementById('weight'))) {
				updateRequest({
					path: `/parcels/${getParcelId()}/editParcel`,
					data: await getFormData(fields, (data) => {
						const description = document.getElementById('description').value;
                        data['description'] = description !== '' ? description : 'N/A';
						data['deliveryMethod'] = document.querySelector(`input[type='radio']:checked`).value;
                        return data;
					}),
				})
			}
		}

		const editReceiver = (e) => {
			e.preventDefault();
			const fields = ['receiver-name',  'receiver-phone'];
			if (!hasEmpty(fields) && isValidPhone(document.getElementById('receiver-phone'))) {
				updateRequest({
					path: `/parcels/${getParcelId()}/editReceiver`,
					data: getFormData(fields),
				})
			}
		}
	</script>
</body>

</html>