<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SendIT | Order details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../css/scarfold.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
	<script src="../js/authorization.js"></script>
</head>

<body onload="getDetails()">
	<div class="main">
		<header>
			<nav class="container navbar fixed-top">
				<div class="brand"><a href="" class="brand-name">SendIT<sup class="size-12">&trade;</sup></a></div>
				<div class="search-container">
					<div class="search-wrapper">
						<div class="search-control-container">
							<input type="text" class="track-input" placeholder="Track your parcel">
							<button class="btn btn-primary btn-sm search-btn">Track </button>
						</div>
					</div> 
				</div>
				<div class="links">
					<div class="dropdown">
						<button onclick="dropdown('menu-dropdown')" class="btn btn-transparent dropbtn"><i class="fa fa-bars"></i></button>
						<div id="menu-dropdown" class="dropdown-content size-11 align-left">
								<a href="/dashboard" class="menu-btn"><i class="fa fa-dashboard"></i> Dashboard</a>
							<a href="/create" class="menu-btn"><i class="fa fa-edit"></i> New order</a>
							<a href="/orders" class="menu-btn"><i class="fa fa-list-ol"></i> Delivery orders</a>
						</div>
					</div>
					<div class="dropdown">
						<button id="avatar" onclick="dropdown('user-dropdown');" class="btn btn-transparent dropbtn">
							<i class="fa fa-user-circle"></i> <i class="fa fa-caret-down size-18 normal ml-md"></i>
						</button>
						<div id="user-dropdown" class="dropdown-content size-11 align-left">
							<div class="panel px-md user-name">
								<div class="size-14 bold">Kingsley Frank-Demesi</div>
							</div>
							<a href="/profile" class="menu-btn"><i class="fa fa-user-o"></i> My profile</a>
							<button class="menu-btn" onclick="signout()"><i class="fa fa-sign-out"></i> Sign out</button>
						</div>
					</div>
				</div>
			</nav>
		</header> 
		<div class="row no-gutters">
			<div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12">
				<div class="page">
					<div id="order-details">
						<div class="page-header"><span class="page-title">Order details</span></div>
						<div class="panel mt-lg">
							<div class="section-x">
								<a href="/orders" class="btn btn-link normal size-13" style="color:rgb(59, 156, 252)"><i class="fa fa-angle-double-left"></i> Go back</a>
								<span class="dropdown fine-btn size-13 normal" id="dropdown"></span>
							</div>
							<div class="section-x">
								<div class="card-header">
									<div class="card-title">
										<label class="bold">Tracking #: <span id="data-trackingNo"></span></label>
									</div>
								</div>
								<div class="field">
									<div class="field-name">Weight</div>
									<div class="field-value weight" id="data-weight"></div>
								</div>
								<div class="field">
									<div class="field-name">Parcel description</div>
									<div class="field-value" id="data-description"></div>
								</div>
								<div class="field">
										<div class="field-name">Price</div>
										<div class="field-value naira" id="data-price"></div>
									</div>
								<div class="field">
									<div class="field-name">Date sent</div>
									<div class="field-value" id="data-sentOn"></div>
								</div>
								<div class="field">
									<div class="field-name">Date delivered</div>
									<div class="field-value" id="data-deliveredOn"></div>
								</div>
								<div class="field">
									<div class="field-name">Delivery method</div>
									<div class="field-value" id="data-deliveryMethod"></div>
								</div>
								<div class="field">
									<div class="field-name">Status</div>
									<div class="field-value red-color" id="data-deliveryStatus"></div>
								</div>
								<div class="field">
									<div class="field-name">Present location</div>
									<div class="field-value" id="data-presentLocation"></div>
								</div>
								<div class="section-y">
									<div class="field">
										<div class="field-name">Pick up address</div>
										<div class="field-value" id="from">
											<span id="data-from-address"></span>
											<span id="data-from-lga"></span>
											<span id="data-from-state"></span>
										</div>
									</div>
									<div class="field">
										<div class="field-name">Sender's phone No.</div>
										<div class="field-value" id="data-sender-phoneNumber">--</div>
									</div>
								</div>
								<div class="section-y">
									<div class="field">
										<div class="field-name">Destination address</div>
										<div class="field-value" id="to-address">
											<span id="data-to-address"></span>
											<span id="data-to-lga"></span>
											<span id="data-to-state"> </span>
										</div>
									</div>
									<div class="field">
										<div class="field-name">Receiver name</div>
										<div class="field-value" id="data-receiver-name"></div>
									</div>
									<div class="field">
										<div class="field-name">Receiver phone number</div>
										<div class="field-value" id="data-receiver-phone"></div>
									</div>
								</div>
							</div>
							<div class="sectio">
								<div class="outter-div-wrapper">
									<div class="inner-div-wrapper">
										<div id="map"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="message"></div>
			</div>
		</div>
	</div>
	<footer class="footer mt-lg">
		<div class="footer-content align-center">
			&copy; Andela bootcamp,
			<script>document.write(new Date().getFullYear())</script>. All right reserved
		</div>
	</footer>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/script.js"></script>
	<script src="../js/modals.js"></script>
	<script>

		const getParcelId = () => location.pathname.split('/')[2];
		let parcel;
		const getDetails = () => {
			authUser.then((user) => {
				fetch(request({
					path: user.isAdmin 
						? `/parcels/${getParcelId()}` 
						: `/users/${user.userId}/parcels/${getParcelId()}`,
					method: 'GET'
				})).then(res => res.json())
					.then((res) => {
						if (res.status === 'Success') {
							parcel = res.data.parcel;
							const { from, to, presentLocation, ...data } = parcel;
							const { sender, ...pickUp } = from;
							const { receiver, ...destination } = to;
							displayData(data);
							displayData(pickUp, 'from');
							if (user.isAdmin) displayData(sender, 'sender');
							displayData(to, 'to');
							displayData(receiver, 'receiver');
							displayLocation(presentLocation);
							appendMenu(parcel.userId, parcel.deliveryStatus);
						} else {
							document.getElementById('order-details').classList.add('hide')
							message(res.message);
						}
					}).catch(error => message(error.message, error.status));
				});
		}

		const displayData = (data, str) => {
			let elem;
			Object.keys(data).forEach((key) => {
				elem = document.getElementById(str ? `data-${str}-${key}` : `data-${key}`);
				if (elem) {
					let text
					switch (key) {
						case 'description': 
							text = 'No recored';
							break;
						default: text = 'Not updated'
					}
					elem.innerHTML = data[key] ? data[key] : text;
					elem.parentNode.style.display = 'inline-flex';
				}
			});
		}

		const displayLocation = (pLocation) => {
			const elem = document.getElementById('data-presentLocation')
			elem.innerHTML =  pLocation && !!(pLocation.state && pLocation.lga)
				? `${pLocation.lga}, ${pLocation.state}`
				: `Not updated`;
			elem.parentNode.style.display = 'inline-flex';
		}

		const selectStatus = () => {
			const elem = document.getElementById('current-delivery-status');
			elem.value = 'Transiting';
			elem.style.color = 'initial';
		}

		const appendMenu = async (userId, deliveryStatus) => {
			if (deliveryStatus === 'Cancelled') return;
			const open = `<button onclick="dropdown('order-menu')" class="btn btn-link btn-sm  normal dropbtn"><i class="fa fa-bars bold"></i> Menu</button>
							<div id="order-menu" class="dropdown-content size-10 dropdown-content-mini">`;
			const editBtns = `<button class="menu-btn" onclick="editDestinationModal(event, parcel)">Edit destination</button>
							  <button class="menu-btn" onclick="editParcelModal(event, parcel)">Edit parcel details</button>
							  <button class="menu-btn" onclick="editPickupModal(event, parcel)">Edit pickup details</button>
							  <button class="menu-btn" onclick="editReceiverModal(event, parcel)">Edit receiver details</button>`;
			const menu = await authUser.then((user) => {
				let str = "";
				if (deliveryStatus !== 'Cancelled' && deliveryStatus !== 'Delivered') {
					if (user.isAdmin) {
						const cancelBtn = `<button class="menu-btn" onclick="confirmCancel()">Cancel order</button>`;
						str = `${user.userId === userId ? cancelBtn.concat(editBtns) : ""}
                      			<button class="menu-btn" onclick="updateLocationModal(event)">Update location</button>
                     			<button class="menu-btn" onclick="updateStatusModal(event)">Update status</button>`;
					} else {
						str = `<button class="menu-btn" onclick="showConfirmModal('cancel', cancelOrder)">Cancel order</button>`
								.concat(editBtns);
					}

				}
				if (deliveryStatus === 'Placed' && user.userId === userId) {
					document.querySelectorAll('.edit-btn')
						.forEach(elem => elem.style.visibility = 'visible')
				}
				return user.userId === userId ? str.concat('</div>') : str;
			});
			document.getElementById('dropdown').innerHTML = menu ? open.concat(`${menu}</div>`) : '';
		}

		const confirmCancel = () => {
			const content = `<div class="warning">
								<b>Are you sure you want to cancel this order?</b><br>
								Click proceed to confirm this operation
							</div>`;
			confirmModal(content, 'cancel', cancelOrder);	
		}

		const cancelOrder = async () => {
			updateRequest({ path: `/parcels/${getParcelId()}/cancel` })
		}

		const deleteOrder = () => {

		}

		const updateDeliveryStatus = (e) => {
			e.preventDefault();
			const fields = ['new-delivery-status'];
			if (!hasEmpty(fields)) {
				updateRequest({ path: `/parcels/${getParcelId()}/status`, data: getFormData(fields) });
			}
		}

		const updatePresentLocation = async (e) => {
			e.preventDefault();
			const fields = ['state', `lga`];
			if (!hasEmpty(fields)) {
				updateRequest({
					path: `/parcels/${getParcelId()}/presentLocation`,
					data: await getFormData(fields)
				});
			}
		}

		const editDestination = (e) => {
			e.preventDefault();
			const fields = ['address', 'state', 'lga'];
			if (!hasEmpty(fields)) {
				updateRequest({
					path: `/parcels/${getParcelId()}/destination`,
					data: getFormData(fields)
				})
			}
		}

		const editPickup = (e) => {
			e.preventDefault();
			const fields = ['address', 'state', 'lga'];
			if (!hasEmpty(fields)) {
				updateRequest({
					path: `/parcels/${getParcelId()}/editPickup`,
					data: getFormData(fields)
				})
			}
		}

		const editParcel = async (e) => {
			e.preventDefault();
			const fields = ['weight', 'description'];
			if (!hasEmpty(fields) && isValidWeight(document.getElementById('weight'))) {
				updateRequest({
					path: `/parcels/${getParcelId()}/editParcel`,
					data: await getFormData(fields, (data) => {
						const description = document.getElementById('description').value;
                        data['description'] = description !== '' ? description : 'N/A';
						data['deliveryMethod'] = document.querySelector(`input[type='radio']:checked`).value;
                        return data;
					}),
				})
			}
		}

		const editReceiver = (e) => {
			e.preventDefault();
			const fields = ['receiver-name',  'receiver-phone', 'country-code'];
			if (!hasEmpty(fields) && isValidPhone(document.getElementById('receiver-phone'))) {
				updateRequest({
					path: `/parcels/${getParcelId()}/editReceiver`,
					data: getFormData(fields),
				})
			}
		}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4fuZVukoacZf3oVilqibcN9DXvi-84Tg"></script>
	<script src="../js/map.js"></script>
</body>
</html>