<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SendIT | Delivery orders</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/scarfold.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
        <script src="../js/authorization.js"></script>
    </head>
    <body onload="getOrders()">
        <header class="header align-bottom">
            <div class="header-content">
                <a href="" class="brand-name">SendIT<sup class="size-12">&trade;</sup></a>
                <div class="menu-div">
                    <ul class="navbar">
                        <li><a href="/dashboard" class="btn btn-link btn-sm red-color">Dashboard</a></li>
                        <li><a href="/" class="btn btn-link btn-sm red-color">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </header>  
        <div class="row no-gutters">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                
                <div class="wrapper mx-0 mb-0">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 bg-white">
                            <div class="align-center panel">
                                <div class="image-div mb-lg avatar-wrapper">
                                    <img src="../images/avatar.png" alt="" class="side-image avatar">
                                </div>
                                <div class="size-12 more-details">
                                    <div id="name" class="bold my-lg" style="font-size: 20px;"></div>
                                    <div id="role"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div style="padding-bottom: 30px">
                                <div>
                                    <div class="content-header">
                                        Delivery orders
                                    </div>                                                  
                                    <div class="panel">
                                        <div class="filter-div hide" id="filter-div">
                                            <div class="dropdown">
                                                <button onclick="dropdown('filter')" class="btn btn-link dropbtn btn-sm fine-btn">Filter orders <i class="fa fa-caret-down"></i></button>
                                                <div id="filter" class="dropdown-content size-11 dropdown-content-mini">
                                                    <button class="menu-btn" onclick="getOrders()">All orders</button>
                                                    <button class="menu-btn" onclick="getOrders('cancelled')">Cancelled orders</button>
                                                    <button class="menu-btn" onclick="getOrders('delivered')">Delivered orders</button>
                                                    <button class="menu-btn" onclick="getOrders('placed')">Pending orders</button>
                                                    <button class="menu-btn" onclick="getOrders('transiting')">Transiting orders</button>
                                                </div>
                                            </div>
                                        </div> 
                                        <div id="orders"></div>
                                        <div id="message"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-lg-3 col-md-3 col-sm-12 bg-white">
                            <div class="panel">
                                <div class="notification-header">Notifications</div>
                                
                                <div class="alert alert-info">No active orders at the moment</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <footer class="footer mt-lg">
                    <div class="footer-content align-center">
                        &copy; Andela bootcamp,
                        <script>document.write(new Date().getFullYear())</script>. All right reserved
                    </div>
                </footer>
            </div>
        </div> 
        
        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="../js/script.js"></script>
        <script>
            const getOrders = (filter) => {
                if (filter) {
                    showSpinner()
                }
                authUser.then((user) => {
                    const path  = user.isadmin ? `/parcels` : `/users/${user.userid}/parcels`;
                    fetch(request({ 
                        path: filter ? path.concat(`?filter=${filter}`) : path, 
                        token: localStorage.getItem('token'),
                        method: 'GET' 
                    }))
                    .then(res => res.json())
                    .then((res) => {
                        if (res.status === 'Success') {
                            const orders = document.getElementById('orders');
                            document.getElementById('message').innerHTML = '';
                            orders.innerHTML = '';
                            res.data.parcels.forEach((order) => {
                                orders.appendChild(orderCard(order));
                            })
                            document.getElementById('filter-div').classList.remove('hide');
                            document.querySelector('.content-header').innerHTML = `${filter ? filter : 'Delivery'} orders`;
                            hideSpinner();
                        } else if (filter) {
                            toggleSpinner(res.message, res.status);
                        } else {
                            message(res.message, 'info');
                        }
                    })
                    .catch(error => {
                        if (filter) {
                            toggleSpinner(error.message, error.status);
                        } else {
                            message(error.message, error.status);
                        }
                    });
                });
            }

            const orderCard = (order) => {
                const card = document.createElement('div');
                card.classList.add('card');
                card.innerHTML = `<div class="more-details">
                        <div class="nexted">
                            <div class="card-header">
                                <div class="card-title">
                                    <label class="size-12 bold">Tracking #: ${order.trackingno}</label>
                                </div>
                            </div>
                            <div class="card-wrapper">
                                <div class="card-row">
                                    <div class="data-header">Weight</div>
                                    <div class="data weight">${order.weight}</div>
                                </div>
                                <div class="card-row">
                                    <div class="data-header">Parcel description</div>
                                    <div class="data">${order.description}</div>
                                </div>                                                                                                                                           
                                <div class="card-row">
                                    <div class="data-header">Delivery method</div>
                                    <div class="data">${order.deliverymethod}</div>
                                </div>
                                <div class="card-row">
                                    <div class="data-header">Status</div>
                                    <div class="data red-color">${order.deliverystatus}</div>
                                </div>
                            </div>
                        </div>
                    </div>                                                          
                    <div class="details-link-div">
                        <a href="/orders/${order.parcelid}" class="btn btn-link btn-sm skyblue-color">Details</a>
                    </div>`;
                return card;
            }
        </script>
    </body>
</html>
