<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SendIT | Delivery orders</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/scarfold.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    </head>
    <body>
        <header class="header align-bottom">
            <div class="header-content">
                <a href="" class="brand-name">SendIT<sup class="size-12">&trade;</sup></a>
                <div class="menu-div">
                    <ul class="navbar">
                        <li><a href="/dashboard" class="btn btn-link btn-sm red-color">Dashboard</a></li>
                        <li><a href="/" class="btn btn-link btn-sm red-color">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </header>  
        <div class="row no-gutters">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                
                <div class="wrapper mx-0 mb-0">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 bg-white">
                            <div class="align-center panel">
                                <div class="image-div mb-lg avatar-wrapper">
                                    <img src="../images/avatar.png" alt="" class="side-image avatar">
                                </div>
                                <div class="size-12 more-details">
                                    Kingsley Frank-Demesi!
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div style="padding-bottom: 30px">
                                <div>
                                    <div class="content-header">
                                        Delivery orders
                                    </div>                                                  
                                    <div class="panel">
                                        <div class="filter-div">
                                            <div class="dropdown">
                                                <button onclick="dropdown('filter')" class="btn btn-link dropbtn filter-btn">Filter orders <i class="fa fa-caret-down"></i></button>
                                                <div id="filter" class="dropdown-content size-11 dropdown-content-mini">
                                                    <button class="menu-btn">All orders</button>
                                                    <button class="menu-btn">Pending orders</button>
                                                    <button class="menu-btn">In-transit orders</button>
                                                    <button class="menu-btn">Cancelled orders</button>
                                                    <button class="menu-btn">Delivered orders</button>
                                                </div>
                                            </div>
                                        </div> 
                                    <div class="card">
                                        <div class="more-details">
                                                <div class="nexted">
                                                    <div class="card-header">
                                                        <div class="card-title">
                                                                <label class="size-12 bold">Tracking #: 45557676766</label>
                                                        </div>
                                                    </div>
                                                    <div class="card-wrapper">

                                                        <div class="card-row">
                                                            <div class="data-header">Weight</div>
                                                            <div class="data">64.2 kgs</div>
                                                        </div>

                                                        <div class="card-row">
                                                            <div class="data-header">Parcel description</div>
                                                            <div class="data">Binatone standing fan</div>
                                                        </div>
                                                                                                                    
                                                        <div class="card-row">
                                                            <div class="data-header">Date sent</div>
                                                            <div class="data">5th November, 2018</div>
                                                        </div>
                                                        
                                                        <div class="card-row">
                                                            <div class="data-header">Delivery method</div>
                                                            <div class="data">Fast delivery</div>
                                                        </div>

                                                        <div class="card-row">
                                                            <div class="data-header">Status</div>
                                                            <div class="data red-color">Delivered</div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>                                                          

                                        <div class="details-link-div">
                                            <a href="/details" class="btn btn-link btn-sm skyblue-color">Details</a>
                                        </div> 
                                    </div>

                                    <div class="card">
                                        <div class="more-details">
                                                <div class="nexted">
                                                    <div class="card-header">
                                                        <div class="card-title">
                                                            <label class="size-12 bold">Tracking #: 45557676766</label>
                                                        </div>
                                                    </div>
                                                    <div class="card-wrapper">

                                                        <div class="card-row">
                                                            <div class="data-header">Weight</div>
                                                            <div class="data">64.2 kgs</div>
                                                        </div>

                                                        <div class="card-row">
                                                            <div class="data-header">Parcel description</div>
                                                            <div class="data">Binatone standing fan</div>
                                                        </div>
                                                                                                                    
                                                        <div class="card-row">
                                                            <div class="data-header">Date sent</div>
                                                            <div class="data">5th November, 2018</div>
                                                        </div>
                                                        
                                                        <div class="card-row">
                                                            <div class="data-header">Delivery method</div>
                                                            <div class="data">Fast delivery</div>
                                                        </div>

                                                        <div class="card-row">
                                                            <div class="data-header">Status</div>
                                                            <div class="data red-color">In transit</div>
                                                        </div>

                                                        <div class="card-row">
                                                            <div class="data-header">Present location</div>
                                                            <div class="data">Ibadan</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                                          

                                            <div class="details-link-div">
                                                <a href="/details" class="btn btn-link btn-sm skyblue-color">Details</a>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="more-details">
                                                <div class="nexted">
                                                    <div class="card-header">
                                                        <div class="card-title">
                                                            <label class="size-12 bold">Tracking #: 45557676766</label>
                                                        </div>
                                                    </div>
                                                    <div class="card-wrapper">
                                                        <div class="card-row">
                                                            <div class="data-header">Reference No.</div>
                                                            <div class="data">123426754</div>
                                                        </div>

                                                        <div class="card-row">
                                                            <div class="data-header">Weight</div>
                                                            <div class="data">64.2 kgs</div>
                                                        </div>

                                                        <div class="card-row">
                                                            <div class="data-header">Parcel description</div>
                                                            <div class="data">Binatone standing fan</div>
                                                        </div>
                                                                                                                    
                                                        <div class="card-row">
                                                            <div class="data-header">Date sent</div>
                                                            <div class="data">5th November, 2018</div>
                                                        </div>
                                                        
                                                        <div class="card-row">
                                                            <div class="data-header">Delivery method</div>
                                                            <div class="data">Fast delivery</div>
                                                        </div>

                                                        <div class="card-row">
                                                            <div class="data-header">Status</div>
                                                            <div class="data red-color">Delivered</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>                                                          

                                                <div class="details-link-div">
                                                    <a href="/details" class="btn btn-link btn-sm skyblue-color">Details</a>
                                                </div> 
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                        <div class="col-lg-3 col-md-3 col-sm-12 bg-white">
                            <div class="panel">
                                <div class="notification-header">Notifications</div>
                                
                                <div class="alert alert-info">No active orders at the moment</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <footer class="footer mt-lg">
                    <div class="footer-content align-center">
                        &copy; Andela bootcamp,
                        <script>document.write(new Date().getFullYear())</script>. All right reserved
                    </div>
                </footer>
            </div>
        </div> 
        
        <script src="../js/script.js"></script>
    </body>
</html>
