<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SendIT | Create order</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/scarfold.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    </head> 
    <body>
        <div class="main">
            <header>
                <nav class="container navbar">
                    <div class="brand">
                        <a href="/" class="brand-name" style="color: #555;">SendIT<sup class="size-12">&trade;</sup></a>
                    </div>
                    <div class="links"><a href="/" class="nav-link">Back</a></div>
                </nav>
            </header>
            <div class="bg-image bg-image-auth">
                <div class="overlay-auth">
                    <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12">
                        <div class="welcome welcome-auth">
                            <p>Can't sign in? </p>
                            <p class="size-12">Don't panic, we always got you covered</p>
                        </div>
                        <div class="form-wrapper">
                            <div class="transparent">
                                <form class="form auth-form" action="" method="POST">
                                    <div class="form-title">Reset Password</div>
                                    <div class="section">
                                        <div class="control-group">
                                            <div class="alert alert-info">
                                                A new password will be generated and send to your email <br>
                                                <b>You are adviced to change it after a Successfull sign in</b>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="required" for="email">E-mail address</label>
                                            <input type="email" class="control col-12" name="email" id="email" placeholder="E-mail address"
                                                autocomplete="off" autofocus>
                                        </div>
                                        <div class="mb-lg align-center hide" id="success-div">
                                            <img class="success-img bounceInDown animated" src="../images/success.png" alt="">
                                            <div class="size-16 bold">Successfull!</div>
                                        </div>
                                        <div id="message"></div>
                                        <div class="control-group mb-sm">
                                            <button class="btn btn-primary btn-lg" id="submit" onclick="verifiyEmail(event)">Continue</button>
                                        </div>
                                    </div>
                                    <div class="auth-redirect">
                                        <span><a href="/signin" class="bold auth-link">Sign in</a></span> 
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer mt-lg">
            <div class="footer-content align-center">
                &copy; Andela bootcamp,
                <script>document.write(new Date().getFullYear())</script>. All right reserved
            </div>
        </footer>
        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="../js/script.js"></script>
        <script>
            const verifiyEmail = async (e) => {
                e.preventDefault();
                if (e.target.innerText === 'Continue') {
                    const email = document.getElementById('email');
                    const fields = [email.id];
                    if (!hasEmpty(fields) && isEmail(email)) {
                        processing({ start: true, message: 'Please wait...' })
                        await fetch(request({ path: `/auth/email`, fields })).then(res => res.json())
                            .then((res) => {
                                if (res.status === 'Success') {
                                    document.getElementById('success-div').classList.remove('hide');
                                    const div = document.getElementById('email').parentElement
                                    $.when(addClass(div, ['zoomOut', 'animated'])).done(() => {
                                        div.classList.add('hide')
                                        resetPassword(email);
                                        processing({ start: false, message: 'Sign in' });
                                    });
                                } else {
                                    processing({ start: false, message: 'Continue' });
                                    displayError(email, res.message);
                                }
                            })
                            .catch(error => {
                                processing({ start: false, message: 'Continue' });
                                message(error.message, error.status)
                            });
                    }
                } else {
                    window.location.href = '/signin';
                }
            }
        
            const generatePassword = () => {
                const str = 'abcdefghijklmnopqrstuvwxyz';
                const mix = str.concat(str.toUpperCase());
                let password = '';
                do {
                    password = password.concat(mix[Math.floor(Math.random() * 51)]);
                } while (password.length < 12);
                return password;
            }
            const resetPassword = async (email) => {
                fetch(request({
                    path: `/auth/resetPassword`,
                    method: 'PUT',
                    data: getFormData([email.id], (data) => {
                        data.password = generatePassword();
                        return data;
                    })
                })).then(res => res.json())
                    .then((res) => {
                        const msg = `A new password was sent to <b>${email.value}</b> 
                                    <br/> Kindly check your inbox or spam`
                        message(msg, res.status);
                        email.value = '';
                    })
                    .catch((error) => message(error.message, error.status))
            }
        </script>
    </body>   
</html>