<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SendIT | Order details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/scarfold.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    </head>
    <body class="bg">
        <div class="row no-gutters">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                <div class="auth-container">
                    <div class="row no-gutters">
                        <div class="col-12">
                            <header class="page-header mx-lg">
                                <div class="brand-header header-height auth-header mx-lg">
                                    <ul class="unstyled-list">
                                        <li><span class="brand">SendIT</span><sup>&trade;</sup></li>
                                        <li class="bar"></li>
                                        <li style="margin: 0"><span class="page align-bottom">Order details</span></li>
                                    </ul>
                                </div>
                                <div style="display:flex; flex-direction: column-reverse">
                                    <div class="dropdown mx-lg">
                                        <button onclick="dropdown('activities')" class="btn btn-link dropbtn"><i class="fa fa-chevron-down"></i></button>
                                        <div id="activities" class="dropdown-content">
                                            <a href="dashboard.html">Dashboard</a>
                                            <a href="create.html">Create order</a>
                                            <a href="orders.html">Delivery orders</a>
                                            <a href="profile.html">Profile</a>
                                            <a href="login.html">Log out</a>
                                        </div>
                                    </div>
                                </div>
                            </header>                                
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12"> 
                            <div class="wrapper">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="side-panel left-panel">
                                            <div class=""></div>
                                            <div class="">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div style="padding-bottom: 30px">
                                            <div>
                                                <div class="content-header">
                                                    Order details
                                                </div>                                                  
                                                <div class="panel">
                                                    <div class="filter-div">
                                                        <a href="orders.html" class="btn btn-link btn-sm size-11 skyblue-color">Go back</a>
                                                    </div> 

                                                    <div class="card">     

                                                        <div class="more-details">
                                                            <div class="nexted">
                                                                <div class="card-header">
                                                                    <div class="card-title">
                                                                        <label class="size-12 bold">Tracking #: 45557676766</label>
                                                                    </div>
                                                                    <button class="btn btn-link btn-sm skyblue-color">Edit</button>
                                                                </div>
                                                                <div class="card-wrapper">
                                                

                                                                    <div class="card-row">
                                                                        <div class="data-header">Weight</div>
                                                                        <div class="data">64.2 kgs</div>
                                                                    </div>

                                                                    <div class="card-row">
                                                                        <div class="data-header">Parcel description</div>
                                                                        <div class="data">Binatone standing fan</div>
                                                                    </div>
                                                                                                                                
                                                                    <div class="card-row">
                                                                        <div class="data-header">Date sent</div>
                                                                        <div class="data">5th November, 2018</div>
                                                                    </div>
                                                                    
                                                                    <div class="card-row">
                                                                        <div class="data-header">Delivery method</div>
                                                                        <div class="data">Fast delivery</div>
                                                                    </div>

                                                                    <div class="card-row">
                                                                        <div class="data-header">Status</div>
                                                                        <div class="data red-color">In transit</div>
                                                                    </div>

                                                                    <div class="card-row">
                                                                        <div class="data-header">Present location</div>
                                                                        <div class="data">Ibadan</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="more-details">
                                                            <div class="nexted">
                                                                <div class="card-header">
                                                                    <div class="card-title">
                                                                        <label class="size-12 bold" for="pickup-details">Pick up details</label>
                                                                    </div>
                                                                    <button class="btn btn-link btn-sm skyblue-color">Edit</button>
                                                                </div>
                                                                <div class="card-wrapper">
                                                                    <div class="card-row">
                                                                        <div class="data-header">Address</div>
                                                                        <div class="data">16, Fajuyi Street, Adebayo</div>
                                                                    </div>

                                                                    <div class="card-row">
                                                                        <div class="data-header">City/Town</div>
                                                                        <div class="data">Ado Ekiti</div>
                                                                    </div>

                                                                    <div class="card-row">
                                                                        <div class="data-header">State</div>
                                                                        <div class="data">Ekiti</div>
                                                                    </div>

                                                                    <div class="card-row">
                                                                        <div class="data-header">Date</div>
                                                                        <div class="data">17th November, 2018</div>
                                                                    </div>

                                                                    <div class="card-row">
                                                                        <div class="data-header">Time</div>
                                                                        <div class="data">12:30 PM</div>
                                                                    </div>
                                                                </div>
                                                            </div> 

                                                            <div class="nexted">
                                                                
                                                                <div class="card-header">
                                                                    <div class="card-title">
                                                                        <label class="size-12 bold">Destination details</label>
                                                                    </div>
                                                                    <button class="btn btn-link btn-sm skyblue-color" onclick="showModal('destination-modal')">Edit</button>
                                                                </div>

                                                                <div class="card-wrapper">

                                                                    <div class="card-row">
                                                                        <div class="data-header">State</div>
                                                                        <div class="data">Lagos</div>
                                                                    </div>

                                                                    <div class="card-row">
                                                                        <div class="data-header">City/Town</div>
                                                                        <div class="data">Iyana Ipaja</div>
                                                                    </div>

                                                                    <div class="card-row">
                                                                        <div class="data-header">Address</div>
                                                                        <div class="data">56, Bola Ajayi Street</div>
                                                                    </div>
                                                                
                                                                </div> 
                                                            </div>
                                                        
                                                            <div class="nexted">

                                                                <div class="card-header">
                                                                    <div class="card-title">
                                                                        <label class="size-12 bold" for="pickup-details">Receiver's details</label>
                                                                    </div>
                                                                    <button class="btn btn-link btn-sm skyblue-color">Edit</button>
                                                                </div>

                                                                <div class="card-wrapper">
                                                                    <div class="card-row">
                                                                        <div class="data-header">Full name</div>
                                                                        <div class="data">John Adekunle</div>
                                                                    </div>

                                                                    <div class="card-row">
                                                                        <div class="data-header">Phone No.</div>
                                                                        <div class="data">08023416792</div>
                                                                    </div>
                                                                
                                                                </div> 
                                                            </div>
                                                        </div>                                                                   
                                                    

                                                        <div class="flex row-reverse mt-md mb-sm">
                                                            
                                                            <div class="dropdown">
                                                                <button onclick="dropdown('order-menu')" class="btn btn-link dropbtn" style="padding: .1rem .6rem"><i class="fa fa-caret-down"></i></button>
                                                                <div id="order-menu" class="dropdown-content size-10 dropdown-content-mini">
                                                                    <button class="menu-btn" onclick="showModal('confirm-modal')">Cancel order</button>
                                                                    <button class="menu-btn" onclick="showModal('location-modal')">Update location</button>
                                                                    <button class="menu-btn" onclick="showModal('status-modal')">Update status</button>
                                                                    <button class="menu-btn">Delete</button>
                                                                </div>
                                                            </div>
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="side-panel right-panel"></div>
                                    </div>
                                </div>
                            </div>                
                        </div>
                    </div>
                </div>
                <footer class="footer mt-lg">
                    <div class="footer-content align-center">
                        &copy; Andela bootcamp,
                        <script>document.write(new Date().getFullYear())</script>. All right reserved
                    </div>
                </footer>
            </div>
        </div> 
        <!-- Modals -->

        <div id="confirm-modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content modal-sm">
                <div class="modal-header">
                    <span class="close" onclick="hideModal()" tabindex="-1">&times;</span>
                </div>
                <div class="modal-body">
                    <div class="red-color size-12 bold align-center">Confirm alert</div>
                    <div class="warning">
                        <span>
                            Are you sure you want to cancel this order?<br>
                            Click continue to confirm this operation
                        </span>
                    </div>
                    <div class="my-lg align-center">
                        <button class="btn btn-primary btn-sm">Continue</button>
                        <button class="btn btn-primary btn-sm" onclick="hideModal()">Quit</button>
                    </div>
                </div>
            </div>

        </div>


        <!-- Destination Modal -->
        <div id="destination-modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content modal-md">
                <div class="modal-header">
                    <span class="close" onclick="hideModal()" tabindex="-1">&times;</span>
                </div>
                <div class="modal-body">
                    <h3>Edit destination</h3>
                    <div class="panel">
                        <form class="form" action="">
                            <div class="control-group">
                                <label class="required" for="address">Address</label>
                                <input type="text" class="control" name="address" id="address" placeholder="Address" autocomplete="off">
                            </div>

                            <div class="control-group">
                                <label class="required" for="city">City/Town</label>
                                <input type="text" class="control col-lg-10 col-md-10 col-sm-12" name="city" id="city" placeholder="City/Town" autocomplete="off">
                            </div>

                            <div class="control-group">
                                <label class="required" for="destination">State</label>
                                <select name="destination" id="cdestination" class="control col-lg-8 col-md-10 col-sm-12">
                                    <option value="">Select state</option>
                                    <option value="Lagos">Lagos</option>
                                </select>
                            </div>
    
                            <div class="my-lg">
                                <button class="btn btn-primary" onclick="return false">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
        <!-- Location Modal -->
        <div id="location-modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content modal-md">
                <div class="modal-header">
                    <span class="close" onclick="hideModal()" tabindex="-1">&times;</span>
                </div>
                <div class="modal-body">
                    <h3>Update location</h3>
                    <div class="panel">
                        <form class="form" action="">
                            <div class="control-group">
                                <label class="required" for="destination">State</label>
                                <select name="destination" id="cdestination" class="control col-lg-8 col-md-10 col-sm-12">
                                    <option value="">Select state</option>
                                    <option value="Lagos">Lagos</option>
                                </select>
                            </div>
                            <div class="control-group">
                                <label class="required" for="city">City/Town</label>
                                <input type="text" class="control col-lg-10 col-md-10 col-sm-12" name="city" id="city" placeholder="City/Town" autocomplete="off">
                            </div>
    
                            <div class="my-lg">
                                <button class="btn btn-primary" onclick="return false">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Status Modal -->
        <div id="status-modal" class="modal">

                <!-- Modal content -->
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <span class="close" onclick="hideModal()" tabindex="-1">&times;</span>
                    </div>
                    <div class="modal-body">
                        <h3>Update status</h3>
                        <div class="panel">
                            <form class="form" action="">
                                <div class="control-group">
                                    <label class="required" for="destination">Delivery status</label>
                                    <select name="destination" id="cdestination" class="control col-lg-8 col-md-10 col-sm-12">
                                        <option value="">Select status</option>
                                        <option value="Delivered">Delivered</option>
                                        <option value="In Transit">In transit</option>
                                        <option value="Pending">Pending</option>
                                    </select>
                                </div>
        
                                <div class="my-lg">
                                    <button class="btn btn-primary" onclick="return false">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        <script src="../js/script.js"></script>
       
    </body>
</html>
