<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SendIT | Create order</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/scarfold.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    </head>
    <body class="bg">
        <!-- <style>
            .header {
                background:  #ffffff;
                border-bottom: 2px solid rgb(14, 14,54);
                min-height: 100px;
                display: flex;
                flex-direction: column-reverse;
            }    

            .header .nav {
                margin-left: 5rem;
                margin-right: 5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .header .nav > div {
                width: 50%;
            }

            .brand-name {
                font-size: 30px;
                font-weight: 700; 
            }

            ul.nav-list {
                list-style-type: none;
                display: inline-flex;
            }

            ul.nav-list li {
                margin-left: .2rem;
            }
        </style>
        <header class="header">
            <nav class="nav">
                <div>
                    <a href="index.html" class=""><span class="brand-name">SendIT</span></a>
                </div> 
                <div class="bold" style="direction: rtl;">
                    <ul class="nav-list">
                        <li><a href="" class="btn btn-link">Login</a></li>
                        <li><a href="" class="btn btn-link">Register</a></li>
                    </ul>
                </div>   
            <nav>
        </header>
        <div class="map">
            <div class="overlay"></div>
        </div> -->
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <div class="row no-gutters">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                <div class="">
                    <div class="auth-container">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <header class="align-center index-header">
                                    <div><span class="brand" style="font-size: 40px">SendIT</span><sup>&trade;</sup></div>
                                    <div class="size-12 page mt-sm">Fast and secure delivery guaranteed</div>
                                </header>                                
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-12"> 
                                <div class="index-container">
                                    <div class="map">
                                        <div class="overlay">
                                            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                                                <div class="welcome">
                                                   <p>Welcome to <span>SendIT<sup class="size-12">&trade;</sup></span></p>
                                                    <p class="size-12">...join our parcel delivery portal to enjoy our services</p>
                                                </div>
                                                <div class="align-center user-links">
                                                    <a href="login.html" class="btn btn-primary">Sign in</a>
                                                    <a href="registration.html" class="btn btn-primary">Sign up</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrapper mx-0">
                                        <div class="row no-gutters">
                                            <div class="col-lg-3 col-md-3 col-sm-12 bg-white">
                                                <div class="image-div">
                                                    <img src="../images/fast.jpg" alt="" class="side-image">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="section">
                                                    <div class="panel">
                                                        <div class="align-center mb-lg bold">
                                                            Track your delivery order(s)
                                                        </div>
                                                        <div>
                                                            <div class="tracking-container">
                                                                <input type="text" class="track-input" placeholder="Track your parcel">
                                                                <button class="track-btn">Track</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="section mb-0">
                                                    <label class="bold">Contact us</label>
                                                    <div class="panel">
                                                        <div class="section">
                                                            <label class="bold" for="">Our address</label>
                                                            <div class="size-12 mx-lg">
                                                               <p class="my-md mb-lg"> 105, Alen Avenue, <br> 
                                                                Ikeja,<br>
                                                                Lagos. <br>
                                                                </p>
                                                                <p><span class="bold my-lg">Tel:</span> +234 803 687 9801</p>
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                        
                                                        <form action="" class="form mt-lg">
                                                            <div class="control-group">
                                                                <label class="required" for="name">Full name</label>
                                                                <input type="text" id="name" class="control" placeholder="Full name">
                                                            </div>

                                                            <div class="control-group">
                                                                <label class="required" for="email">E-mail address</label>
                                                                <input type="text" id="email" class="control" placeholder="E-mail address">
                                                            </div>

                                                            <div class="control-group">
                                                                <label class="required" for="message">Message</label>
                                                                <textarea id="message" class="control" name="message" rows="10"></textarea>
                                                            </div>
                                                            <button class="btn btn-primary">Send</button>
                                                        </form>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 bg-white">
                                                <div class="image-div">
                                                    <img src="../images/time.jpg" alt="" class="side-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer mt-lg">
                    <div class="footer-content align-center">
                        &copy; Andela bootcamp,
                        <script>document.write(new Date().getFullYear())</script>. All right reserved
                    </div>
                </footer>
            </div>
        </div>
        
        <script src="../js/script.js"></script>
    </body>
</html>
