<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SendIT | Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/scarfold.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    </head>
    <body class="bg">
        <div class="row no-gutters">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                <div class="transparent">
                    <div class="auth-container">
                        <div class="row">
                            <div class="col-12">
                                <div class="brand-header auth-header">
                                    <ul class="unstyled-list">
                                        <li><span class="brand">SendIT</span><sup>&trade;</sup></li>
                                        <li class="bar"><span class="page">Login</span></li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-12">                        
                                <div class="wrapper auth-padding">
                                    <div class="row">
                                        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                                            <form class="form" action="create.html" method="POST">               
                                                <div class="section mt-lg">
                                                    <div class="control-group">
                                                        <label for="email">E-mail address</label>
                                                        <input type="email" class="control col-12" name="email" id="email" placeholder="E-mail address" autocomplete="off">
                                                    </div>
                                                
                                                    <div class="control-group mb-lg">
                                                        <label for="password">Password</label>
                                                        <input type="password" class="control col-12" name="" id="password" placeholder="Password">
                                                    </div>
                                                    <div class="form-group align-right">
                                                        <a href="" class="btn-link mx-md size-11 forgot-password">Forgot password?</a>
                                                    </div>
                                                    <div class="form-group mt-lg">
                                                        <button class="btn btn-primary btn-block">Login</button>
                                                    </div>
                                                </div>
                                                
                                                <div class="section align-right size-11 no-wrap">
                                                    Don't have account? <a href="registration.html" class="btn btn-link mx-sm btn-sm bold">Register</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="footer-content align-center">
                        &copy; Andela bootcamp,
                        <script>document.write(new Date().getFullYear())</script>. All right reserved
                    </div>
                </footer>
            </div>
        </div>   
    </body>
</html>
