<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SendIT | Create order</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/scarfold.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    </head>
    <body class="bg">
        <div class="row no-gutters">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                <div class="transparent">
                    <div class="auth-container">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <header class="page-header mx-lg">
                                    <div class="brand-header header-height auth-header mx-lg">
                                        <ul class="unstyled-list">
                                            <li><span class="brand">SendIT</span><sup>&trade;</sup></li>
                                            <li class="bar"></li>
                                            <li class="mx-0"><span class="page align-bottom">Profile</span></li>
                                        </ul>
                                    </div>
                                    <div style="display:flex; flex-direction: column-reverse">
                                        <div class="dropdown mx-lg">
                                            <button onclick="dropdown('activities')" class="btn btn-link dropbtn"><i class="fa fa-chevron-down"></i></button>
                                            <div id="activities" class="dropdown-content">
                                                <a href="dashboard.html">Dashboard</a>
                                                <a href="create.html">Create order</a>
                                                <a href="orders.html">Delivery orders</a>
                                                <a href="profile.html">Profile</a>
                                                <a href="login.html">Log out</a>
                                            </div>
                                        </div>
                                    </div>
                                </header>                                
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-12"> 
                                <div class="wrapper">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12">
                                            <div class="side-panel left-panel">
                                                <div class=""></div>
                                                <div class="">
 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div style="padding-bottom: 30px">
                                                <div>
                                                    <div class="content-header">
                                                        Profile info
                                                    </div>                                                  
                                                    <div class="panel">
                                                            <div class="card">     
        
                                                                <div class="more-details">
                                                                    <div class="nexted">
                                                                        <div class="card-header">
                                                                            <div class="card-title">
                                                                                <label class="size-12 bold" for="pickup-details">Account info</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-wrapper">
                                                                            <div class="card-row">
                                                                                <div class="data-header">User ID</div>
                                                                                <div class="data">410945</div>
                                                                            </div>
    
                                                                            <div class="card-row">
                                                                                <div class="data-header">Role</div>
                                                                                <div class="data">User</div>
                                                                            </div>
                                                                        </div>
                                                                    </div> 
                                                                    </div>
                                                                    <div class="more-details">
                                                                        <div class="nexted">
                                                                            <div class="card-header">
                                                                                <div class="card-title">
                                                                                    <label class="size-12 bold">Bio data</label>
                                                                                </div>
                                                                                <button class="btn btn-link btn-sm skyblue-color">Edit</button>
                                                                            </div>
                                                                            <div class="card-wrapper">
                                                            
        
                                                                                <div class="card-row">
                                                                                    <div class="data-header">Firstname</div>
                                                                                    <div class="data">Ossai</div>
                                                                                </div>
        
                                                                                <div class="card-row">
                                                                                    <div class="data-header">Lastname</div>
                                                                                    <div class="data">Oghaleke</div>
                                                                                </div>
                                                                                                                                            
                                                                                <div class="card-row">
                                                                                    <div class="data-header">Gender</div>
                                                                                    <div class="data">Male</div>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
            
                                                                    <div class="more-details"> 
        
                                                                        <div class="nexted">
                                                                            
                                                                            <div class="card-header">
                                                                                <div class="card-title">
                                                                                    <label class="size-12 bold">Contact details</label>
                                                                                </div>
                                                                                <button class="btn btn-link btn-sm skyblue-color">Edit</button>
                                                                            </div>
        
                                                                            <div class="card-wrapper">
        
                                                                                <div class="card-row">
                                                                                    <div class="data-header">Address</div>
                                                                                    <div class="data">56, Bola Ajayi Street</div>
                                                                                </div>
        
                                                                                <div class="card-row">
                                                                                    <div class="data-header">City/Town</div>
                                                                                    <div class="data">Ikeja</div>
                                                                                </div>
        
                                                                                <div class="card-row">
                                                                                    <div class="data-header">State</div>
                                                                                    <div class="data">Lagos</div>
                                                                                </div>

                                                                                <div class="card-row">
                                                                                    <div class="data-header">Phone</div>
                                                                                    <div class="data">08032170991</div>
                                                                                </div>

                                                                                <div class="card-row">
                                                                                    <div class="data-header">E-mail address</div>
                                                                                    <div class="data">ossai.oghaleke@mail.com</div>
                                                                                </div>
                                                                            
                                                                            </div> 
                                                                        </div>
                                                                    
                                                                    </div>


                                                                    <div class="more-details"> 
                                                                        <div class="nexted">
        
                                                                            <div class="card-header">
                                                                                <div class="card-title">
                                                                                    <label class="size-12 bold" for="pickup-details">Delivery orders</label>
                                                                                </div>
                                                                                <div class="dropdown">
                                                                                        <button onclick="dropdown('filter')" class="btn btn-link btn-sm dropbtn"> <i class="fa fa-caret-down"></i></button>
                                                                                        <div id="filter" class="dropdown-content size-11 dropdown-content-mini">
                                                                                            <button class="menu-btn">All orders</button>
                                                                                            <button class="menu-btn">Pending orders</button>
                                                                                            <button class="menu-btn">In-transit orders</button>
                                                                                            <button class="menu-btn">Cancelled orders</button>
                                                                                            <button class="menu-btn">Delivered orders</button>
                                                                                        </div>
                                                                                    </div>
                                                                            </div>
        
                                                                            <div class="card-wrapper">
        
                                                                                <div class="card-row">
                                                                                    <div class="data-header">Cancelled orders</div>
                                                                                    <div class="data">1</div>
                                                                                </div>

                                                                                <div class="card-row">
                                                                                    <div class="data-header">Delivered orders</div>
                                                                                    <div class="data">2</div>
                                                                                </div>

                                                                                <div class="card-row">
                                                                                    <div class="data-header">In transit orders</div>
                                                                                    <div class="data">1</div>
                                                                                </div>

                                                                                <div class="card-row">
                                                                                    <div class="data-header">Pending orders</div>
                                                                                    <div class="data">None</div>
                                                                                </div>

                                                                                <div class="card-row">
                                                                                    <div class="data-header red-color">Total orders</div>
                                                                                    <div class="data red-color">3</div>
                                                                                </div>
                                                                            
                                                                            </div> 
                                                                        </div>
                                                                    </div>                                                                   
                                                            
    
                                                                <div class="flex row-reverse mt-md mb-sm">
                                                                    <button class="btn btn-link size-12 skyblue-color">Change password</button>
                                                                </div>
                                                            </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12">
                                            <div class="side-panel right-panel"></div>
                                        </div>
                                    </div>
                                </div>                
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer mt-lg">
                    <div class="footer-content align-center">
                        &copy; Andela bootcamp,
                        <script>document.write(new Date().getFullYear())</script>. All right reserved
                    </div>
                </footer>
            </div>
        </div> 
        
        <script src="../js/script.js"></script>
    </body>
</html>
