<!DOCTYPE html>
<html class="bg">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SendIT | Registration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="../css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/scarfold.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../css/styles.css" />
    </head>
    <body>
        <div class="row no-gutters">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12 offset-sm-0">
                <div class="transparent">
                    <div class="auth-container">
                        <div class="row">
                            <div class="col-12">
                                <div class="brand-header auth-header">
                                <ul class="unstyled-list">
                                        <li><span class="brand">SendIT</span><sup>&trade;</sup></li>
                                        <li class="bar"><span class="page">Registration</span></li>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-12">                        
                                <div class="wrapper auth-padding" >
                                    <form class="form" action="" method="POST">               
                                        <div class="section">   
                                            <div class="details size-12">
                                                Your account details
                                            </div>                            
                                            <div class="control-group">
                                                <label class="required" for="firstname">Firstname</label>
                                                <input type="text" class="control col-lg-6 col-md-7 col-sm-12" name="" id="firstname" placeholder="Firstname" autocomplete="off" autofocus>
                                            </div>

                                            <div class="control-group">
                                                <label class="required" for="lastname">Lastname</label>
                                                <input type="text" class="control col-lg-6 col-md-7 col-sm-12" name="" id="lastname" placeholder="Lastname" autocomplete="off">
                                            </div>

                                            <div class="control-group">
                                                <label class="required" for="gender">Gender</label>
                                                <select name="" id="" class="control col-lg-3 col-md-3 col-sm-12">
                                                    <option value="">Select gender</option>
                                                    <option value="F">Female</option>
                                                    <option value="M">Male</option>
                                                </select>
                                            </div>

                                            <div class="control-group">
                                                <label class="required" for="address">Address</label>
                                                <input type="text" class="control col-lg-10 col-md-10 col-sm-12" name="address" id="address1" placeholder="Address" autocomplete="off">
                                            </div>

                                            <div class="control-group">
                                                <label class="required" for="city">City/Town</label>
                                                <input type="text" class="control col-lg-10 col-md-10 col-sm-12" name="city" id="city" placeholder="City/Town" autocomplete="off">
                                            </div>

                                            <div class="control-group">
                                                <label class="required" for="state">State</label>
                                                <select name="" id="" class="control col-lg-6 col-md-6 col-sm-12">
                                                    <option value="">Select state</option>
                                                </select>
                                            </div>

                                            <div class="control-group">
                                                <label class="required" for="phone">Phone</label>
                                                <input type="text" class="control col-lg-5 col-md-5 col-sm-12" name="phone" id="phone" placeholder="Phone" autocomplete="off">
                                            </div>
                                        </div>
                                        <hr class="section-seperator">
                                        <div class="section">
                                            <div class="details size-12">
                                                Please fill in your login credentials
                                            </div>
                                            <div class="control-group">
                                                <label class="required" for="email">E-mail address</label>
                                                <input type="email" class="control col-lg-8 col-md-8 col-sm-12" name="email" id="email" placeholder="E-mail address" autocomplete="off">
                                            </div>
                                        
                                            <div class="control-group">
                                                <label class="required" for="password">Password</label>
                                                <input type="password" class="control col-lg-8 col-md-8 col-sm-12" name="" id="password" placeholder="Password">
                                            </div>
                                        </div>
                                        <hr class="section-seperator">
                                        <div class="section">
                                            <p class="required-text">All fields marked with<strong class="required"></strong> are required!</p>
                                            <button class="btn btn-primary">Register</button>
                                        </div>
                                        <div class="section align-right size-12 no-wrap">
                                            Already have account? <a href="login.html" class="btn-link mx-md bold">Login</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="footer-content align-center">
                        &copy; Andela bootcamp,
                        <script>document.write(new Date().getFullYear())</script>. All right reserved
                    </div>
                </footer>
            </div>
        </div>   
    </body>
</html>
